@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700');

body {
	max-width: 960px;
	min-width: 900px;
	margin: 0 auto;
	background: rgb(232, 232, 232);
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

header {
	background: url("../img/apples.jpg") center center no-repeat;
	background-position: top;
	height: 740px;
}

.header_inner {
	padding: 30px;
}

.logo_link navbar-brand {
	float: left;
}

.navbar-header {
	float: right;
}

.slogan_section {
	color: #fff;
}

.slogan_section h1 span {
    font-size: 2em;
    font-weight: lighter;
}

.homebutton {
	color: #fff;
	border: 2px solid rgb(255, 255, 255);
	padding: 12px 12px;
	margin: 140px 360px;
	text-align: center;
	background-color: rgba(52, 54, 56, .7);
	text-decoration: none;
}

h1 {
	color: rgb(255, 255, 255);
	margin-top: 200px;
	text-align: center;
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 8px;
	font-weight: normal;
}

h2 {
	text-align: center;
	padding-top: 90px;
	padding-bottom: 40px;
	font-size: 18px;
	font-weight: normal;
}


h4 {
	color: rgb(255, 255, 255);
	text-align: center;
	font-weight: normal;
}

h5 {
	display: inline;
    font-weight: normal;
	margin-left: 20px;
	font-size: 16px;
}

h6 {
	font-size: 15px;
	font-weight: normal;
	color: rgb(255, 255, 255);
	text-align: left;
    margin: 5px;
    padding: 0 5px;
    display: inline-block;
}

figcaption {
    position: absolute;
    font-size: 12px;
    font-weight: normal;
    bottom: 3.5%;
    left: 2.5%;
    z-index: 1;
    color: #fff;
}

.post-list {
	padding: 5px;
	background: rgb(243, 243, 243);
}

.articles section {
    height: 300px;
    margin-bottom: 20px;
    display: flex;
}

.articles section .title {
    background-size: cover;
    flex: 2;
    display: flex;
}

.gradient {
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0)); 
}

.likes {
  display: flex;
  justify-content: flex-end;
}

.likes button {
    border: 2px solid white;
    color: white;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(66, 64, 64, 0.7);
}

.likes button:hover {
    background:rgba(66, 64, 64, 1);
    cursor: pointer;
}

.articles section:nth-child(odd) .title {
    background-image: url(../img/sample.jpg);  
}

.articles section:nth-child(even) .title {
    background-image: url(../img/sample3.jpg);
}

.articles section .article-text {
    flex: 1;
    display: flex;
    text-align: center;
    font-size: 0.8em;
    justify-content: center;
    flex-direction: column;
    color: #343638;
}

.articles section:nth-child(odd) .article-text {
    padding-left: 15px;
}

.articles section:nth-child(even) .article-text {
    padding-right: 15px;
}

.articles section:nth-child(odd) {
    flex-direction: row;
}

.articles section:nth-child(even) {
    flex-direction: row-reverse;
}

.subscribe {
	background-color: rgb(255, 255, 255);
	margin: 15px;
	padding: 30px 5px;
}

p {
	color: rgb(158, 158, 158);
}

#contact_email {
	margin-left: 10px;
	width: 520px;
	padding: 10px;
	background-color: rgb(243, 243, 243);
	border: 1px solid rgb(52, 54, 56);
}

.contact-form {
	display: inline-block;

}

#form_inner {
	width: 130px;
	background-color: rgb(243, 243, 243);
	border: 1px solid rgb(52, 54, 56);
	padding: 5px;
	margin: 0px;
}

.subscribe-btn {
	border: 1px solid rgb(52, 54, 56);
	background-color: rgb(52, 54, 56);
	color: #fff;
	margin: -5px;
	padding: 10px;
}

#innerbtn {
	padding: 5px;
}

.more-information {
	display: flex;
	background-color: rgb(255, 255, 255);
	flex-wrap: wrap;
	padding: 70px 20px;
	justify-content:flex-start;
}

article {
	width: 24%;
	padding: 2px;
}

.footer_inner {
	width: 100%;
	display: inline-block;
	border-top: 1px solid rgb(158, 158, 158);
	background-color: rgb(255, 255, 255);
}

.footer_inner span {
	float: left;
	color: rgb(158, 158, 158);
	padding: 5px;
}

.menu-bottom a {
	float: right;
	color: rgb(158, 158, 158);
	font-size: 12px;
	padding: 5px;
}

a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding: 0px 15px;
}

a:hover {
	color: rgb(183, 200, 217);
}

.hometext {
	background-color: rgb(255, 255, 255);
	display: flex;
	padding: 80px 20px;
	flex-direction: row;
	justify-content:space-between;
}

.lefttext, .righttext {
	width: 45%;
}

.lefttext {
	font-size: 16px;
}

.news {
	padding-left: 10px;
}

figure {
	margin: 0px;
}