body {
  width: 960px;
  margin: 0 auto;
  background: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 12px; }

.logo {
  position: relative;
  display: inline;
  margin-top: 15px; }
  .logo img {
    width: 40%; }

nav {
  position: absolute;
  display: inline;
  margin-top: 160px;
  font-size: 15px;
  list-style-type: none;
  padding: 18px 0px;
  border-bottom: 1px solid #A9A9A9;
  border-top: 1px solid #A9A9A9;
  width: 570px;
  text-transform: uppercase;
  word-spacing: 110px;
  text-align: center; }
  nav a {
    color: #00bed8;
    text-decoration: none; }
    nav a:hover {
      color: #000; }

.post-list {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  background: #efefef; }
  .post-list article {
    width: 45%;
    padding: 15px;
    border: 9px solid #fff; }
    .post-list article img {
      width: 100%; }

section {
  margin-top: 50px; }
  section img {
    width: 960px;
    height: auto; }

.toolbar {
  text-align: right; }
  .toolbar input {
    padding: 8px;
    border: 1px solid #00bed8;
    color: #00bed8;
    background: none;
    margin-bottom: 5px;
    margin-right: 8px; }
    .toolbar input::-webkit-input-placeholder {
      color: #00bed8; }

h3 {
  color: #0099aa;
  text-transform: uppercase; }

h1, h4 {
  color: #00bed8;
  text-align: right;
  text-transform: uppercase; }

h4 {
  font-size: 15px;
  margin-top: 0px; }

h1 {
  margin-bottom: 2px; }

p {
  color: #5b7d8c;
  line-height: 1.5;
  margin-top: 2px; }

.post-description {
  color: #009989;
  border-bottom: 1px solid #A9A9A9; }

.form-control {
  position: relative;
  width: 952px;
  padding-left: 8px;
  margin-bottom: 20px;
  background: none;
  border: 1px solid #A9A9A9; }

.form-control:not(#contact_message) {
  height: 25px; }

.submit-btn {
  background: #00bed8;
  border: 1px solid #00bed8;
  color: #fff;
  float: right;
  padding: 10px 72px;
  margin: 0px 0px 20px 0px; }
  .submit-btn:hover {
    color: #000;
    background: #fff; }

footer {
  margin-top: 70px;
  text-align: left;
  color: #A9A9A9; }
